.avtivities{
    padding: 100px 5vw;
    box-sizing: border-box;
    text-align: center;

}

.avtivities h2{
    font-size: 24px;
    margin-bottom: 20px;
}


/* avtivities-banners */
.avtivities-banners{
    width: 100%;
}

.avtivities-banners ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: space-between;
    gap: 70px;
    padding-left: 10px;
    box-sizing: border-box;

    overflow: hidden;
}

.avtivities-banners li{
    width: 100%;
    min-height: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align-last: left;

    border-radius: 7px;
    overflow: hidden;
    background-color: #FFFDD0;
}

.avtivities-banners a{
    display: block;
    padding-bottom: 10px;
    box-sizing: border-box;

    text-decoration: none;
    color: black;    

    margin-bottom: 100px;
}

.avtivities-banners img{
    width: 100%;
    margin-bottom: 20px; 
    border-radius: 7px;  
}

.avtivities-banners h3{
    display: block;
    font-size: 20px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    
}

.avtivities-banners p{
    display: block;
    width: 100%;
    font-size: 14px;     
    padding: 0 10px;
    box-sizing: border-box;
}

/* direction buttons */
.at-arrow{
    width: 44px;
    height: 44px;
    display: inline-block;
    text-align: center;
    background-color: #E69120;
    margin-top: 20px;
    padding: 0 4px;
    box-sizing: border-box;
    border-radius: 7px;
}

.at-arrow:hover{
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.at-arrow i{
    color:#fff;
    font-size: 40px;
    line-height: 44px;
}










