@import url('reset.css');
@import url('structure.css');
@import url('header.css');
@import url('topbanner.css');
@import url('inpagenav.css');
@import url('asidenav.css');
@import url('cross.css');
@import url('staggered.css');
@import url('activities.css');
@import url('footer.css');
@import url('button.css');

html{}

body{}

/* main */
main{
    background-color: #93DBC8;
}
/* header */

#buildings{
    border-bottom: 4px solid #E69120;
    color: #E69120;
    font-weight: bold;
}

/* top banner */
.top-banner{
    background-image: url('../img/topbanner_4.png');
}
/* inpage nav */

/* 3 buttons */

/* cross */

/* staggered */

/* footer */

