@import url('reset.css');




body{
        /* layout */        
    width: 100%;
        /* style */
    background: var(--alternative-, #93DBC8);
    line-height: 1.6;
    font-style: normal;
    font-weight: 400;
    color: #000;
}

/* main */
main{
    width: 100%;
    flex-shrink: 0;
    margin: 0 auto;

    background: var(--alternative-, #93DBC8);
}








