@import url('reset.css');
@import url('structure.css');
@import url('header.css');
@import url('topbanner.css');
@import url('inpagenav.css');
@import url('cross.css');
@import url('staggered.css');
@import url('activities.css');
@import url('footer.css');
@import url('button.css');

html{}

body{}

/* main */
main{}

/* header */
#hotspring{
    border-bottom: 4px solid #E69120;
    color: #E69120;
    font-weight: bold;
}


/* top banner */

.top-banner{
    background-image: url('../img/topbanner_2png.png');
}

/* 3 banners */

.three-banners{
    width: 100%;
    padding: 0 10vw;
    box-sizing: border-box;
    margin-bottom: 100px;

    overflow: hidden;
}

.three-banners:hover{
    transform: translate(0 -10px);
    transition: .2s;
}

.three-banners h2{
    color: #000;
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.three-banners-out{
    margin: 0 auto;
    width: 80vw;
    display: flex;  /*斷點時flex-wrap:wrap*/
    gap: 20px;  
}

.three-banners-out li{
    display: flex;
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    background-color:#FFFDD0;
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px #E69120;
    color: #000;
    text-align: center;

    overflow: hidden;
}

.three-banners img{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 7px;
}

.three-banners h3{
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
}

.three-banners p{
    text-align: left;
    color: #000;
    font-size: 16px;
    padding: 0 2em;
}

.three-banners span{
    font-weight: bold;
}

/* (cross)grid: img & content */
 
/* staggered */
.random-tit-second h2{
    font-size: 20px;
    margin-bottom: 20px;
}

.random-tit-second p{
    margin-bottom: 20px;
}

.random-img-third{
    width: 480px;
}

/* footer */


/* RWD */
/* 820 */
@media screen and (max-width:820px) {
    .inpage-nav{
        margin-bottom: 50px;
    }

    .three-banners{
        margin-bottom: 0;
    }

    .three-banners-out{
        flex-wrap: wrap;
        gap: 2vw;
    }

    .three-banners-out li{
        width: 38vw;
    }

    .three-banners-out:last-child{
        justify-self: center;
        margin-bottom: 10vh;
    }

    .random{
        padding: 0 1vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .random img{
        position: unset;
    }

    .random-tit-first,.random-tit-second,.random-tit-third{
        position: unset;
    }

    .random img:nth-of-type(1){
        display: none;
    }

    .random-img-first{
        width: 60vw;
        order: 1;
    }

    .random-tit-first{
        width: 35vw;
        padding: 10px;
        order: 2;
    }

    .random-tit-second{
        order: 3;
    }

    .random-img-second{
        width: 60vw;
        order: 4;
    }

    .random-img-third{
        order: 5;
    }

    .random-tit-third{
        width: 35vw;
        order: 6;
        padding: 10px;
    }
    

    
}

/* 430 */
@media screen and (max-width:430px) {
    .inpage-nav li a{
        padding: 0 4vw;
        font-size: 1.6rem;
    }

    .three-banners-out li{
        width: 100%;
    }

    .cross{
        padding: 0 4vw;

        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "a-2"
            "a-1"
            "b-1" 
            "b-2"
            "c-2"
            "c-1";
        gap: 1vw;
    }

    .random{
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0 4vw;
        box-sizing: border-box;
        gap: 4vh;
    }

    .random img{
        width: 100%;
    }

    .random-img-first{
        order: 1;
        margin-top: 20px;
    }

    .random-tit-first{
        width: 100%;
        order: 2;
    }

    .random-img-second{
        order: 3;
    }

    .random-tit-second{
        width: 100%;
        order: 4;
    }

    .random-tit-third{
        width: 100%;
        margin-bottom: 20px;
    }

}