@import url('reset.css');
@import url('header.css');
@import url('topbanner.css');
@import url('staggered.css');
@import url('activities.css');
@import url('footer.css');
@import url('button.css');

html{}

body{}

/* main */
main{}

/* header */
.navigation li:first-child{
    border-bottom: 4px solid #E69120;
}

/* top banner */

/* 3 banners */
.multi-banners{
    width: 100%;
    padding-top: 85px;
    box-sizing: border-box;

    overflow: hidden;

   background-image: url('../img/9.jpg');
   background-size: cover;

}

.multi-banners h2{
    color: #000;
    font-size: 32px;
    margin-bottom: 51px;
    margin-left: 70px;
}

.multi-banners-out{
    margin: 0 auto 175px;
    width: 1062px;
    display: flex;
    justify-content: space-between;
}

.multi-banners-in{
    display: flex;
    width: 284px;
    padding-bottom: 41px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    gap: 39px;

    background: var(--main-, #FFFDD0);
}

.multi-banners-in img{
    display: block;
    width: 100%;
    height: 184px;

    background-color: #ccc;
}

.multi-banners-in h3{
    color: #000;
    font-size: 24px;
}

.multi-banners-in p{
    color: #000;
    font-size: 14px;
}

/* grid: img & content */
 
/* staggered */

/* activities news */

/* footer */

