@import url('reset.css');
@import url('components.css');

html{}

body{
        /* layout */        
    width: 100%;
        /* style */
    background: var(--alternative-, #93DBC8);
    line-height: 1.6;
    font-style: normal;
    font-weight: 400;
}

/* main */
main{
    width: 1200px;
    flex-shrink: 0;
    margin: 0 auto;

    background: var(--alternative-, #93DBC8);
}
/* header */

    /* top banner */
.topbanner{
    display: flex;
    width: 1200px;
    height: 600px;
    padding: 560px 0px 22px 0px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    background-image: url('../img/1.jpg');
    background-size: cover;
}

.topbanner ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: auto auto 22px;
}

.topbanner ul li{
    width: 18px;
    height: 18px;

    border-radius: 99px;
    border: 0.5px solid #7E7C7C;
    background: #FFF;
}

.topbanner ul li:first-child{
    width: 36px;

    background: var(--main-steam, #E69120);
}

    /* left & right img */
.rightimg{
    width: 100%;
    height: 448px;
    flex-shrink: 0;
    display: flex;

    background: var(--main-, #FFFDD0);
}

.titles-l{
    width: 50%;
    height: 100%;
    flex-shrink: 0;
    padding-top: 100px;
    padding-left: 150px;
    box-sizing: border-box;

    background: var(--main-, #FFFDD0);
}

.rightimg h2{
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 55px;
}

.rightimg p{
    display: block;
    width: 300px;
    height: auto;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 40px;
}

.rightimg a{
    display: block;
    line-height: 40px;
    width: 108px;

    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    background: var(--main-steam, #E69120);
}


.rightimg img{
    display: block;
    width: 50%;
    height: 448px;
    flex-shrink: 0;

}
    /* leftimg */
.leftimg{
    width: 100%;
    height: 448px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row-reverse;

    background: var(--main-, #FFFDD0);
}

.titles-r{
    width: 50%;
    height: 100%;
    flex-shrink: 0;
    padding-top: 100px;
    padding-left: 150px;
    box-sizing: border-box;

    background: var(--main-, #FFFDD0);
}

.leftimg h2{
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 55px;
}

.leftimg p{
    display: block;
    width: 300px;
    height: auto;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 40px;
}

.leftimg a{
    display: block;
    line-height: 40px;
    width: 108px;

    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    background: var(--main-steam, #E69120);
}


.leftimg img{
    display: block;
    width: 50%;
    height: 448px;
    flex-shrink: 0;
    background-color:#ccc;

}
    /* 4 icons */
.four-icons{
    width: 100%;
    height: 600px;
    padding-top: 177px;
    padding-left: 168px;
    box-sizing: border-box;
    position: relative;

    background-image: url('../img/3.jpg');
    background-size: cover;
    }

.four-icons-in img{
    display: block;
    width: 64px;
}

.four-icons-titles{
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    gap: 52px;
}

.four-icons-titles h2{
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

.four-icons-p{
    color: white;
}

.four-icons-titles p{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}



.four-icons-titles a{}

.four-icons-content{
    width: 640px;
    height: 500px;
    position: absolute;
    top: 36px;
    right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:'hot-spring history' 
                        'architecture nature';


    background: var(--main-, #FFFDD0);
    box-shadow: 19px 25px 5.8px 0px rgba(0, 0, 0, 0.25);
}

.four-icons-in{
    width: 320px;
    height: 50%;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 36px;
    box-sizing: border-box;

    text-align: center;
}

.four-icons-in:first-child{grid-area: hot-spring;}
.four-icons-in:nth-child(2){grid-area: history;}
.four-icons-in:nth-child(3){grid-area: architecture;}
.four-icons-in:last-child{grid-area: nature;}

.four-icons-in img{
    display: inline-block;
    width: 66px;
    height: 64px;
}

.four-icons-in h3{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 22px;
    text-align-last: left;
}

.four-icons-in p{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-align-last: left;
}

    /* 2banners */
.two-banners{
    width: 100%;
    height: 652px;
    padding: 55px 90px 64px;
    box-sizing: border-box;

    background-image: url('../img/4.jpg');
    background-size: cover;
}

.two-banners h2{
    color: #000000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 40px;
}

.two-banners-out{
    display: flex;
    align-items: center;
    gap: 196px;
}

.two-banners-in{
    width: 412px;
    height: 445px;
    flex-shrink: 0;

    background: var(--main-, #FFFDD0);
}

.two-banners-in img{
    display: block;
    width: 100%;
    height: 184px;
    flex-shrink: 0;
    margin-bottom: 39px;

    background: #E4E1E1;
}

.two-banners-in h3{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 37px;
    margin-left: 82px;
    margin-right: 82px;
    }

.two-banners-in p{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-left: 82px;
    margin-right: 82px;
}
    /* title & FAQ */
.title-faq{
    width: 100%;
    padding-top: 90px;
    padding-bottom: 52px;
    box-sizing: border-box;

    background-image: url('../img/29.jpg');
    background-size: cover;
}

.mid-title-button{
    display: flex;
    width: 1116px;
    height: 334px;
    padding: 44px 0px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    margin: 0 auto 174px;

    background: var(--main-, #FFFDD0);
}

.mid-title-button h2{
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

.mid-title-button p{
    color: #000;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.9px;
}

.faq{ 
    width: 630px;
    margin: 0 auto;
}

.faq h2{
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

.faq ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.faq li{
    height: 95px;
    padding: 28px 49px 27px 69px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 277px;

    background: var(--main-, #FFFDD0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    align-self: stretch;
    color: #000;
    font-size: 32px;
}

.faq li img{
    width: 40px;
    height: 40px;

    background-color: #fff;
    border-radius: 99;   
}

.faq li:hover{
    outline: 5px solid var(--main-steam, #E69120);
}

/* footer */

/* fixed button */



