@import url('reset.css');
@import url('components.css');

html{}

body{
        /* layout */        
    width: 100%;
        /* style */
    background: var(--alternative-, #93DBC8);
    line-height: 1.6;
    font-style: normal;
    font-weight: 400;
}

/* main */
main{
    width: 1200px;
    flex-shrink: 0;
    margin: 0 auto;

    background: var(--alternative-, #93DBC8);
}
/* header */

header{
    z-index: 2;
}

.navigation li:last-child{
    border-bottom: 4px solid #E69120;
}

    /* top banner */
.topimg{
    display: block;
    width: 100%;
    height: 600px;
    padding: 560px 0px 22px 0px;
    box-sizing: border-box;
    flex-shrink: 0;

    background-image: url('../img/1.jpg');
    background-size: cover;
}

    /* img-back */
.img-back{
    width: 100%;
    height: 642px;    
    flex-shrink: 0;
    overflow: hidden;
    position: relative;

    background: var(--alternative-, #93DBC8);
}

.titles-front{
    width: 618px;
    height: 486px;
    color: #000;
    z-index: 1;
    padding: 103px 138px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 60px;

    position: absolute;
    top: 78px;
    left: 60px;

    background: var(--main-, #FFFDD0);
}

.titles-front h2{
    font-size: 32px;
}

.titles-front p{
    font-size: 20px;
}

.img-back img{
    display: block;
    width: 70%;
    height: 100%;
    background-color: #ccc;
    float: right;
}

/* random layout */
.random{
    width: 100%;
    height: 1404px;
    position: relative;

    background-image: url('../img/12.jpg');
}

.random img{
    width: 600px;
    height: 371px;
    flex-shrink: 0;

    background-color: #ccc;
}

.random-img-first{
    position: absolute;
    top: 96px;
    left: 71px;
}
.random-img-second{
    position: absolute;
    top: 181px;
    right: 42px;
}
.random-img-third{
    position: absolute;
    bottom: 100px;
    left: 71px;
}

.random-tit-first{
    width: 446px;
    height: 348px;
    flex-shrink: 0;
    padding: 76px 74px;
    box-sizing: border-box;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 32px;

    position: absolute;
    top: 501px;
    left: 166px;

    background: var(--main-, #FFFDD0);
}

.random-tit-first h2{
    font-size: 24px;
}

.random-tit-first p{
    font-size: 12px;
}


.random-tit-second{
    width: 446px;
    height: 168px;
    flex-shrink: 0;
    padding: 44px 52px;
    box-sizing: border-box;

    position: absolute;
    bottom: 578px;
    right: 84px;

    background: var(--main-, #FFFDD0);
}

.random-tit-third{
    width: 446px;
    height: 348px;
    flex-shrink: 0;
    padding: 76px 74px;
    box-sizing: border-box;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 32px;

    position: absolute;
    bottom: 61px;
    right: 126px;

    background: var(--main-, #FFFDD0);
}

.random-tit-third h2{
    font-size: 24px;
}

.random-tit-third p{
    font-size: 12px;
}


    /* left & right */
        /* right img */
.rightimg{
    width: 100%;
    height: 448px;
    flex-shrink: 0;
    display: flex;

    background: var(--main-, #FFFDD0);
}

.titles-l{
    width: 50%;
    height: 100%;
    flex-shrink: 0;
    padding-top: 100px;
    padding-left: 150px;
    box-sizing: border-box;

    background: var(--main-, #FFFDD0);
}

.rightimg h2{
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 55px;
}

.rightimg p{
    display: block;
    width: 300px;
    height: auto;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 40px;
}

.rightimg a{
    display: block;
    line-height: 40px;
    width: 108px;

    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    background: var(--main-steam, #E69120);
}


.rightimg img{
    display: block;
    width: 50%;
    height: 448px;
    flex-shrink: 0;
    background-color:#ccc;

}
    /* leftimg */
.leftimg{
    width: 100%;
    height: 448px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row-reverse;

    background: var(--main-, #FFFDD0);
}

.titles-r{
    width: 50%;
    height: 100%;
    flex-shrink: 0;
    padding-top: 100px;
    padding-left: 150px;
    box-sizing: border-box;

    background: var(--main-, #FFFDD0);
}

.leftimg h2{
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 55px;
}

.leftimg p{
    display: block;
    width: 300px;
    height: auto;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 40px;
}

.leftimg a{
    display: block;
    line-height: 40px;
    width: 108px;

    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    background: var(--main-steam, #E69120);
}


.leftimg img{
    display: block;
    width: 50%;
    height: 448px;
    flex-shrink: 0;
    background-color:#ccc;

}


    /* muliti-banners */
.multi-banners{
    width: 100%;
    padding-top: 85px;
    box-sizing: border-box;

    overflow: hidden;

    background-image: url('../img/8.jpg');
    background-size: cover;
}

.multi-banners h2{
    color: #fff;
    font-size: 32px;
    margin-bottom: 51px;
    margin-left: 70px;
}

.multi-banners-out{
    margin: 0 auto 175px;
    width: 1062px;
    display: flex;
    justify-content: space-between;
}

.multi-banners-in{
    display: flex;
    width: 284px;
    padding-bottom: 41px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    gap: 39px;

    background: var(--main-, #FFFDD0);
}

.multi-banners-in img{
    display: block;
    width: 100%;
    height: 184px;

    background-color: #ccc;
}

.multi-banners-in h3{
    color: #000;
    font-size: 24px;
}

.multi-banners-in p{
    color: #000;
    font-size: 14px;
}


/* footer */
footer{
    width: 100%;
    height: 320px;
    flex-shrink: 0;
    padding-top: 63px;
    box-sizing: border-box;

    background: #565A6E;
}

.out-list{
    display: flex;
    width: 1010px;
    align-items: center;
    gap: 87px;
    margin: 0 auto 90px;
}

.out-list li{
    width: 187px;
    /* height: 252px; */
    flex-shrink: 0;

    background-color: #565A6E;
}

.out-list li p{
    color: #FFF;
    font-size: 20px;
    margin-bottom: 28px;
}

.in-list{
    width: 187px;
    flex-shrink: 0;
    box-sizing: border-box;

    
}

.in-list li a{
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
}

.in-list li a:hover{
    color: var(--main-hot-spring, #4ED7AE);
    text-decoration: underline;
}

.copyright{
    display: block;
    color: #FFF;
    font-size: 18px;
    text-align: center;
}

/* fixed button */
.backtotop{
    width: 30px;
    height: 30px;
    color: #E69120;
    border: 2.5px solid #E69120;
    border-radius: 50%;

    align-items: center;
    text-align: center;
    text-decoration: none;
    font-weight:bold;
    
    position: fixed;
    bottom: 20px;
    right: 0;
    z-index: 1;

}
