.search{
    width: 300px;
    height: 48px;
    flex-shrink: 0;
    padding-bottom: 12px;
    box-sizing: border-box;
    display: flex;

    border-radius: 8px;
    background: var(--main-steam, #E69120);
}

.search img{
    display: inline-block;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.search input{
    display: inline-block;
    width: 256px;
    height: 35px;
    flex-shrink: 0;
    background: var(--main-steam, #E69120);
    border: 0;
    border-bottom: 1px solid #FFF;
}