.top-banner{
    width: 100%;
    min-height: 488px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 5.8px #000;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #93DBC8;
}

#top{}

.base{
    padding: 15px 40px;
    box-sizing: border-box;
    border-radius: 7px;
    background: rgba(86, 90, 110, 0.48);
}

.top-banner h1{
    font-size: 4rem;
}

.top-banner p{
    font-size: 2rem;
}
